body {
  font-family:"Arial","Meiryo",sans-serif;
}
html {
  font-size: 20px;
}
.text-pink {
  color: rgb(255,192,203)
}
.text-skyblue {
  color:skyblue;
}
h2, #basic, .blue{
  color: #87ceeb;
}
.pink {
  color: rgb(255,192,203)
}
h1 {
  font-family:"Josefin Sans",sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px blue;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border: 3px solid rgb(115,115,114)
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
#basic .bold-text {
  font-weight: bold;
}