body {
  font-family:"Arial","Meiryo",sans-serif;
}
html {
  font-size: 20px;
}

.blue {
  color: #87ceeb;
}
.pink {
  color: rgb(255,192,203)
}
h1 {
  font-family:"Josefin Sans",sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px red;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115,115,114)
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
#basic > p {
  font-weight: bold;
}